@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
}

.input::placeholder {
  color: var(--placeholder-color, $gray-300);
  opacity: 1;
}

// 크기
.small .input {
  @include font(text-sm);
}
.large .input {
  @include font(text-lg);
}

.small {
  width: 19.35rem;
  height: 3.564rem;
}

.large {
  width: 27rem;
  height: 4.95rem;
}

// 모양
.line {
  border-bottom: 0.113rem solid $gray-300;
  padding-right: 1.291rem;
  border-radius: 0;
}
.square {
  border-radius: 1.125rem;
  padding-left: 1.8rem;
  padding-right: 1.5rem;
  border: 0.113rem solid $gray-300;
}
.round {
  border-radius: 3.75rem;
  padding-left: 1.875rem;
  padding-right: 1.18rem;
  border: 0.15rem solid $gray-600;
}

// 배경색
.white {
  background: $white-color;
}
.transparent {
  background: rgba(0, 0, 0, 0);
}
.gray {
  background: rgba($gray-600, 0.3);
}

// 돋보기 위치
.left .icon {
  margin-right: 1rem;
}
.right .icon {
  margin-left: 1rem;
}

// 돋보기 크기
.small .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.large .icon {
  width: 1.859rem;
  height: 1.767rem;
}

.icon {
  background: none;
}
.icon.white {
  color: $white-color;
}
.icon.gray {
  color: $gray-300;
}
.icon.black {
  color: $gray-600;
}
