@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;

.arrowButton {
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: filter 0.2s;
  border-radius: 15px;
}

.arrowButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.default {
  box-shadow: none;
}

.line {
  border: 1.5px solid $gray-300;
  padding: 34px;
}

.arrowIcon {
  width: 24px;
  height: 24px;
  filter: none;
}

.arrowButton:disabled .arrowIcon {
  filter: grayscale(1) brightness(0.6);
}

.arrow-up {
  transform: rotate(-90deg);
}
.arrow-down {
  transform: rotate(90deg);
}
.arrow-left {
  transform: rotate(180deg);
}
.arrow-right {
  transform: none;
}
