.container {
  width: 100%;
  height: 100vh;
  background-image: url("/background/singlepageBackgroundImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
