@import "@/styles/abstracts/mixins";

.button {
  @include font(text-button);
  box-sizing: border-box;
  width: 10.35rem;
  height: 4.95rem;
  border-radius: 1.125rem;
  background-color: transparent;
  border: 0.075rem solid transparent;
  cursor: pointer;

  @include font("text-button");

  &.red {
    @include color($red-color);
    border-color: $red-color;
  }

  &.default {
    @include color($gray-300);
    border-color: $gray-300;
  }

  &.hover {
    @include color($gray-hover);
    border-color: $gray-hover;
  }
}
