@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;

.button {
  @include font(text-md);
  background-color: $gray-600;
  color: $white-color;
  padding: 1.5rem 3.9rem;
  border: 1px solid $gray-300;
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    border: 1px solid $white-color;
    transition: 0.5s ease;
  }
  &:focus {
    background-color: $gray-100;
    color: $gray-600;
    border: 1px solid $white-color;
  }

  &:disabled {
    background-color: $gray-600;
    color: $white-color;
    border: 1px solid $gray-300;
    cursor: not-allowed;
    pointer-events: none;
  }
}
