.mypageContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  gap: 118.5px;
  padding: 162.75px 0 100px 75px;
  min-width: 1080px;
}

.userInfoContainer {
  display: flex;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  gap: 107.25px;
}
