@use "sass:map";
@use "variables" as *;

@mixin font($style) {
  font-family: $font-family-base;
  $font-style: map.get($fonts, $style);
  font-size: map.get($font-style, "size");
  font-weight: map.get($font-style, "weight");

  @if map.has-key($font-style, "line-height") {
    line-height: map.get($font-style, "line-height");
  }
}
