@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;

.tagButton {
  background: transparent;
  color: $white-color;
  border: 0.113rem solid $gray-300;
  border-radius: 3.75rem;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tagButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
