@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.modalOverlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modalContent {
  position: relative;
  width: 50.4rem;
  height: 24.15rem;
  text-align: center;
  background-color: transparent;
  border-radius: 1.875rem;
  border: 0.075rem solid transparent;
  display: flex;
  flex-direction: column;
  gap: 3.282rem;
  border-color: $gray-300;
}
.shareModal {
  width: 56.775rem; // 공유 모달용 너비
}
.closeButton {
  @include color($white-color);
  font-size: 2rem;
  position: absolute;
  top: 2.1rem;
  right: 2.079rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 3.432rem;
}
.shareBox {
  position: relative;
  width: 100%;
  padding: 0 5.6rem;
}
.shareInput {
  width: 100%;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: transparent;
  border: 0.075rem solid $gray-300;
  border-radius: 1.125rem;
  outline: none;
  color: $white-color;
  padding-left: 2rem;
}
.copyButton {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 7.45rem;
  transform: translateY(-50%);
  font-size: 1.8rem;
  background: none;
  border: none;
  color: $white-color;
  cursor: pointer;
}
