@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.container {
  width: 100%;
  height: 100vh;
  background-image: url("/background/loginBackgroundImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
.wagLogo {
  margin-bottom: 3.8rem;
}
.guideText {
  @include font(title-sm);
  color: $white-color;
  margin-bottom: 8.5rem;
}
.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
