@use './abstracts' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

// 기본 컬러 클래스
.text-primary {
  color: $green-color;
}

.bg-primary {
  background-color: $green-color;
  color: white;
}
