@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.container {
  width: 100%;
  height: 100vh;
  background-image: url("/background/loginBackgroundImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.wagLogo {
  position: fixed;
  margin-top: 5rem;
  margin-left: 5rem;
  width: 13.3rem;
  margin-bottom: 2.9rem;
}
.guideText {
  @include font(title-sm);
  padding-top: 17.5rem;
  color: $white-color;
  margin-bottom: 1.1rem;
}
.helperText {
  @include font(text-md);
  color: $gray-200;
  margin-bottom: 6rem;
}
.actionButton {
  position: fixed;
  bottom: 14.7rem;
  left: 50%;
  transform: translateX(-50%);
}
.columns {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  max-width: 900px;
  margin-bottom: 4rem;
}
.stepcontainer {
  position: fixed;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
}
