@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.button {
  @include font("text-button");
  @include color($white-color);
  box-sizing: border-box;
  width: 10.35rem;
  height: 4.95rem;
  border-radius: 1.125rem;
  background-color: transparent;
  border: 0.075rem solid $gray-300;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.confirm:hover {
    @include color($red-color);
    border-color: $red-color;
  }
  &.default:hover {
    border-color: $gray-hover;
  }
}
