@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.likeCountGroup {
  @include font("text-sm");
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  gap: 0.4rem;
}
.likeCount {
  display: flex;
  align-items: center;
}
