@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;

.button {
  @include font(text-wag);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-600;
  color: $gray-100;
  padding-left: 0.9rem;
  width: 12rem;
  height: 4.5rem;
  border: 1px solid $gray-100;
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    color: $green-color;
    border: 1px solid $green-color;
    transition: 0.5s ease;
  }
  &.selected {
    color: $green-color;
    border: 1px solid $green-color;
  }
}
.icon {
  position: absolute;
  left: 2.2rem;
  width: 1.1rem;
  height: 1.4rem;
  flex-shrink: 0;
}
.text {
  display: inline-block;
  text-align: center;
}
