@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;

.button {
  @include font(title-md);
  height: 6.7rem;
  width: 52rem;
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba($gray-600, 0.3);
  color: $gray-200;
  border: 1px solid $gray-300;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    color: $gray-100;
    border: 1px solid $gray-100;
    transition: 0.5s ease;
  }
}
.icon {
  position: absolute;
  left: 1.7rem;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}
.text {
  display: inline-block;
  text-align: center;
}
