@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/mixins" as *;

.toggleWrapper {
  display: flex;
  background-color: $gray-600;
  border-radius: 3rem;
  padding: 0.3rem;
  overflow: hidden;
  width: fit-content;
  align-items: center;
}
.button {
  all: unset;
  @include font(text-sm);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-600;
  color: $gray-200;
  width: 13rem;
  height: 4rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 0.2s;

  &:not(.active):hover {
    color: $gray-100;
    transition: 0.5s ease;
  }
}
.active {
  background-color: $white-color;
  color: $gray-600;
}
