@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.videoCardContainer {
  position: relative;
  cursor: pointer;

  &.large {
    width: 23.6rem;
  }

  &.small {
    width: 12rem;
  }
}
.thumbnailContainer {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
}
.videoTitle {
  @include font("text-wag");
  padding-top: 0.9rem;
  color: $white-color;
}
.smallVideoInfo {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  padding-top: 0.9rem;
}
